body {
    /* background-color: brown; */
    /* background-image: url(kyle-johnson-TEZZzuQTt8g-unsplash.jpg); */
    /* background-repeat: no-repeat; */
    height: 4000px;

}


.firstp {
    /* background-image: url(kyle-johnson-TEZZzuQTt8g-unsplash.jpg); */
    background-repeat: no-repeat;
    height: 800px;
    height: 500px;
}

.h1 {
    background-color: blue;
    color: beige;
}

.h2 {
    background-image: url(kyle-johnson-TEZZzuQTt8g11-unsplash.jpg);

    background-color: aqua;
    /* background-repeat: ; */

}

.parent1 {
    background-color: red;
    /* Color Name */
    background-color: rgb(0 0 0 / 50%);
    /* Red, Green, Blue, Alpha Channel */
    background-image: url(kyle-johnson-TEZZzuQTt8g11-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 0px 50%;
    /* background-size: cover; */
    background-size: contain;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.firstp .h1,
.h2 {
    padding: 20px;
}

.block {
    /* background-color: #eee; */
    /* display: block; */
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
}

.bb {
    margin: 20px;
    background-color: #ccc;
    padding: 20px;

}

.bv {
    margin: 20px;
    padding: 20px;

    background-color: red;
    visibility: none;
}

.square {
    background-color: burlywood;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px auto;
    border: 8px solid blueviolet;
    overflow-x: hidden;
}

.shadow {
    text-shadow: 1px 1px 1px red;
}

.text {
    padding: 10px;
    background-color: #ccc;
    text-align: center;
    /* vertical-align: middle; */
}

.text img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    ;
}

.parent {
    background-color: red;
    padding: 10px;
    overflow: hidden;

}

.parent div {
    background-color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 25%; */
    float: left;
    text-align: center;
    width: calc((100% - 105px) / 6);
    margin-left: 15px;
    /* overflow: hidden; */
}

.clear {
    clear: both;
}

.position {
    width: 60px;
    height: 30px;
    padding: 10px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.tr {
    width: 300px;
    height: 60px;
    /* padding: 20px; */
    margin: 20px auto;
    background-color: #eee;
}

.tr .o1 {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

.tr .o2 {
    background-color: red;
    padding: 30px;
    margin-bottom: 10px;
}

.elzeroo {
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    background-color: #eee;
    overflow: hidden;
}

hr {
    margin-top: 115px;
}

.zero {
    padding: 30px;
    margin: 20px auto;
    background-color: #eee;
    text-align: center;
    width: 350px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;

}

.zero::first-letter {
    background-color: red;
    float: left;
    position: absolute;
    padding: 15px;
    margin-left: -55px;
    margin-top: -15px;
    top: 50%;
    color: white;
}

/* .data {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    padding: 20px;
} */
.data .txt {
    background-color: #ccc;
    width: 400px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    border-left: #E62E62 5px solid;
}

.txt::after {
    content: attr(data-person);
    background-color: #ccc;
    position: absolute;
    padding: 20px;
    left: -114px;
    top: 0px;
    width: 50px;
    /* border-style: solid; */
    border-left: 10px solid #E62E62;
}

.txt::before {
    content: "";
    border: solid 10px;
    border-color: transparent #E62E62 transparent transparent;
    position: absolute;
    left: -20px;
    top: 34%;
    margin-top: - 10px;
}