body {
    /* background-color: brown; */
    /* background-image: url(kyle-johnson-TEZZzuQTt8g-unsplash.jpg); */
    /* background-repeat: no-repeat; */

}


.firstp {
    /* background-image: url(kyle-johnson-TEZZzuQTt8g-unsplash.jpg); */
    background-repeat: no-repeat;
    height: 800px;
    height: 500px;
}

.h1 {
    background-color: blue;
    color: beige;
}

.h2 {
    background-image: url(kyle-johnson-TEZZzuQTt8g11-unsplash.jpg);

    background-color: aqua;
    /* background-repeat: ; */

}

.parent1 {
    background-color: red;
    /* Color Name */
    background-color: rgb(0 0 0 / 50%);
    /* Red, Green, Blue, Alpha Channel */
    background-image: url(kyle-johnson-TEZZzuQTt8g11-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 0px 50%;
    /* background-size: cover; */
    background-size: contain;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.firstp .h1,
.h2 {
    padding: 20px;
}

.block {
    /* background-color: #eee; */
    /* display: block; */
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
}

.bb {
    margin: 20px;
    background-color: #ccc;
    padding: 20px;

}

.bv {
    margin: 20px;
    padding: 20px;

    background-color: red;
    visibility: none;
}